// Cor do link ao passar o mouse
$link-hover: #b9b9b9;

// Cor do texto de cópia
$copy-color: #555252;

// Cor do item da tabela
$table-item: #d8d8d8;

// Padding fixo para elementos
$padding-fixo: 20px 0;

// Padding para botões
$padding-button: 15px 35px;
