.container00 {
  &.container05 {
    background-image: url(/img/falcon9/foguetes.jpg);
  }

  &.container02 {
    background-image: url(/img/falcon9/02.jpg);
  }

  &.carrossel01 {
    background-image: url(/img/falcon9/03.jpg);
  }

  &.carrossel02 {
    background-image: url(/img/falcon9/04.jpg);
  }

  &.carrossel03 {
    background-image: url(/img/falcon9/05.jpg);
  }

  &.carrossel04 {
    background-image: url(/img/falcon9/06.jpg);
  }

  &.carrossel05 {
    background-image: url(/img/falcon9/07.jpg);
  }
  &.carrossel06 {
    background-image: url(/img/falcon9/08.jpg);
  }

  &.carrossel07 {
    background-image: url(/img/falcon9/08.jpg);
  }
}
